body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #80A970;
  }

  #restartButton {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: #fff; 
    border: none;
    cursor: pointer;
  }

  .game-board {
    display: grid;
    grid-template-columns: repeat(30, 20px);
  }

  .cell {
    width: 20px;
    height: 20px;
    background-color: #537546;
    border: 1px solid #24331E;
  }

  .snake {
    background-color: black;
  }

  .food {
    background-color: black;
  }
